@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --textColor: #fff;
  --bgColor: #000;
  --bold: bold;
  --bolder: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

.container {
  max-width: 1152px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 74px);
  grid-column-gap: 22px;
  margin: 0 auto;
}
.arrow {
  width: 1.25rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  /* margin: 0 1rem; */
}

.arrow span {
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #000;
  display: inline-block;
  transition: all 0.2s ease;
}
.arrow span:first-of-type {
  left: 0;
  transform: rotate(45deg);
}
.arrow span:last-of-type {
  right: 0;
  transform: rotate(-45deg);
}

header {
  background-color: var(--textColor);
  color: var(--bgColor);
  padding: 8px 0;
}

#logo {
  grid-column-start: 1;
  grid-column-end: span 3;
  display: flex;
  align-items: center;
  gap: 4px;
}

#logo h5 {
  font-weight: var(--bolder);
  font-size: 24px;
}

nav {
  grid-column-start: 6;
  grid-column-end: span 7;
  display: flex;
  justify-content: flex-end;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  /* padding: 0 4px; */
}

.nav-links li a {
  color: var(--bgColor);
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-links li:nth-of-type(2) a {
  display: flex;
  gap: 6px;
}

.nav-links li a#register-btn {
  color: var(--textColor);
  background-color: var(--bgColor);
  border-radius: 4px;
}

.nav-links li a:hover {
  color: #555;
}
.nav-links li a:hover .arrow span {
  background-color: #555;
}

.nav-links li a:hover .arrow span:first-of-type {
  transform: rotate(-45deg);
}

.nav-links li a:hover .arrow span:last-of-type {
  transform: rotate(45deg);
}

.nav-links li a#register-btn:hover {
  background-color: #555;
}

.slider {
  width: 100%;
  height: calc(100vh - 54.5px);
  background: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  color: var(--textColor);
  word-spacing: 3%;
  font-size: 160px;
  font-weight: var(--bold);
  grid-column-start: 3;
  grid-column-end: span 8;
  text-align: center;
  position: relative;
}

.h1::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: var(--bgColor);
  position: absolute;
  top: 18px;
  right: 27%;
}

.subheading {
  color: var(--textColor);
  font-weight: bold;
  grid-column-start: 3;
  grid-column-end: span 8;
  text-align: center;
}
